@import '@/styles/variables.scss';
@import "./shared.scss";

.exampleView {
    @include overlayTool;
    margin: 20px 20px 0;

    display: flex;
    flex-direction: column;

}

.header {
    font-size: 120%;
    border-bottom: 1px solid $color-light-grey;
    padding: 0 10px;
    text-align: center;
    position: relative;
}

.body {
    overflow-y: auto;
    max-height: 200px;
}

.entry {
    cursor: pointer;
    padding: 0 10px;

    &:hover {
        background-color: lighten($color-highlight, 25%);
    }
}

.divider {
    border-bottom: 1px solid $color-light-grey;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0 10px;

    &:hover:not(:disabled) {
        background-color: rgba($color-highlight, 0.5);
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.reloadBtn {
    @extend .btn;
    position: absolute;
    font-size: 80%;
    color: #777;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
