
// position: 'absolute',
// left: 0,
// top: 0,
// width: comp.size.x * scale,
// height: comp.size.y * scale,
// transform: `${mtxStr} translate(${comp.pos.x}px, ${comp.pos.y}px) scale(${1/scale})`,
// transformOrigin: '0 0',
// backgroundColor: 'rgba(255, 0, 0, 0.5)',
// pointerEvents: 'none',
// boxSizing: 'border-box',

.baseComp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0px, 0px) scale(1);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

.rectComp {
    padding: 20px;
}

.memTable {
    font-family: monospace;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.memRow {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    pointer-events: auto;
    height: 26px;
}

.memRowAddr {
    flex: 0 0 25px;
    color: #707070;
    text-align: right;
    margin-right: 5px;
    user-select: none;
}

.memRowBytes {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    &.allZeros {
        color: #555555;
    }
}

.memRowByte {
    flex: 1 0 0;
    padding: 0 2px;
    text-align: center;
    border-radius: 2px;

    &.byteRead {
        background-color: #6da2f1;
    }

    &.byteWrite {
        background-color: #e7f15a;
        font-size: 80%;
        line-height: 13px;
        display: flex;
        flex-direction: column;

        & > div:first-child {
            opacity: 0.5;
        }
    }
}
