@import '@/styles/variables.scss';

.html, .body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.html {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.5em;
    padding: 4px 8px;
    background-color: #333;
    text-align: center;
    color: white;
}
