@import '@/styles/variables.scss';

.html, .body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.html {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather', serif;
}

.body {
    display: flex;
    flex-direction: column;
}
