@import '@/styles/variables.scss';

.html {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
