
.tocDiagram {
    display: flex;
}

.toc {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tocTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px;
}

.tocGroupTitle {
    font-size: 13px;
    opacity: 0.8;
    padding: 4px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}

.menuEntry {
    cursor: pointer;
    padding: 4px 4px 4px 12px;

    &.active {
        background-color: lightblue;
    }

    &.hover {
        background-color: #338;
        color: white;
    }
}