
.tocDiagram {
    display: flex;

    svg {
        // flex: 1;
        // background-color: rgba(red, 0.1);
    }
}

.toc {
    // width: 180px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tocTitle {
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 0 4px;
}

.tocGroupTitle {
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 4px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}

.menuEntry {
    cursor: pointer;
    padding: 4px 4px 4px 12px;

    &.active {
        background-color: lightblue;
    }

    &.hover {
        background-color: #338;
        color: white;
    }
}

.dataPath {
    stroke-width: 1.5;
    stroke: rgba(black, 0.8);
    fill: none;
}

.gap {
    @extend .dataPath;
}
