@import '@/styles/variables.css';

.view {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 0;
}

.sidebar {
    flex: 3;
    z-index: 1;
    /* min-width: 300px;
    max-width: 300px;; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    /* font-family: Roboto; */
}

.canvasWrap {
    flex: 5;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.canvasWrap::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: inset 0 0 6px 0 rgba(20, 20, 20, 0.3);
    pointer-events: none;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
    /* image-rendering: pixelated; */
}
