@import '@/styles/variables.css';

.view {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #e4edff;
}

.sidebar {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.canvasWrap {
    position: relative;
    flex: 5;
    overflow: hidden;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
