
// media query
$phone-width:  'screen and (max-width: 800px)';

$color-light-grey: #dbdbdb;
$color-highlight: #0c61e2;

$color-text-light: #696969;

$color-highlight-dark: darken($color-highlight, 10%);

$color-red: #c20101;
